<div class="main">

    <app-section-title sectionTitle="Explore Popular Categories"></app-section-title>


    <div class="wrapper">

        <div class="category">
            <img class="img-category" src="../../assets/deep-learning.png" alt="">
            <h3 class="cat-heading">Machine Learning</h3>

            <p class="cat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fugit aliquam animi aliquid, saepe similique!</p>
            <button class="cat-button">Buy Now</button>


        </div>
        <div class="category">
            <img class="img-category" src="../../assets/server.png" alt="">
            <h3 class="cat-heading">Database</h3>
            <p class="cat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fugit aliquam animi aliquid, saepe similique!</p>
            <button class="cat-button">Buy Now</button>

        </div>
        <div class="category">
            <img class="img-category" src="../../assets/js.png" alt="">
            <h3 class="cat-heading">Javascript</h3>
            <p class="cat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fugit aliquam animi aliquid, saepe similique!</p>
            <button class="cat-button">Buy Now</button>

        </div>
        <div class="category">
            <img class="img-category" src="../../assets/java.png" alt="">
            <h3 class="cat-heading">Java</h3>
            <p class="cat-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut fugit aliquam animi aliquid, saepe similique!</p>
            <button class="cat-button">Buy Now</button>

        </div>

    </div>
</div>