<div class="main">
    <app-section-title sectionTitle="Featured Sections"></app-section-title>
    <div class="container">
        <div class="wrapper">
            <div class="feature1 feature">
                <p class="feature-text">Management Guru's</p>
            </div>
            <div class="feature2 feature">
                <p class="feature-text">Engineering Bookstore</p>

            </div>
            <div class="feature3 feature">
                <p class="feature-text">Notable Indian Writers</p>

            </div>
            <div class="feature4 feature">
                <p class="feature-text">Competitive Books</p>

            </div>
            <div class="feature5 feature">
                <p class="feature-text">Literature & Fiction</p>

            </div>
            <div class="feature6 feature">
                <p class="feature-text">Comics & Graphic Novels</p>

            </div>
            <div class="feature7 feature">
                <p class="feature-text">Children's Collection</p>

            </div>
            <div class="feature8 feature">
                <p class="feature-text">Books to read in the lifetime</p>

            </div>
        </div>
    </div>
</div>

<div class="main-footer">
    <div class="footer">
        <span>&copy; Booksbay 2020</span>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
</div>