<div class="main">
    <app-section-title sectionTitle="How It Works"></app-section-title>
    <div class="steps">
        <div class="step-text">
            <h3 class="step-heading">List it</h3>
            <p class="step-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, dolorem.</p>
        </div>
        <div class="step-image">
            <img src="../../assets/book-list (1).jpg" class="step1" alt="">
            <span class="step-number">Step 1</span>
        </div>
    </div>
    <div class="steps steps-2">
        <div class="step-image">
            <img src="../../assets/book-share.jpg" class="step2" alt="">
            <span class="step-number step-number-2">Step 2</span>
        </div>
        <div class="step-text">
            <h3 class="step-heading step-text-2">Share it</h3>
            <p class="step-description step-text-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, dolorem.</p>
        </div>

    </div>
    <div class="steps">

        <div class="step-text">
            <h3 class="step-heading">Earn from it</h3>
            <p class="step-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, dolorem.</p>
        </div>
        <div class="step-image">
            <img src="../../assets/money.jpg" class="step3" alt="">
            <span class="step-number">Step 3</span>
        </div>
    </div>

</div>