<div class="main">
    <app-section-title sectionTitle="We got you covered"></app-section-title>
    <div class="card-section">
        <div class="card">

            <img src="../../assets/payment.png" class="card-image" alt="">

            <p class="card-heading">PROTECTED PAYMENTS</p>
            <p class="card-desciption">If it’s not what you ordered, we guarantee to give your money back.</p>

        </div>
        <div class="card">

            <img src="../../assets/truck.png" class="card-image" alt="">

            <p class="card-heading">EXPEDITED SHIPPING</p>
            <p class="card-desciption">If it’s not what you ordered, we guarantee to give your money back.</p>

        </div>
        <div class="card card-3">

            <img src="../../assets/medal.png" class="card-image card-image-3" alt="">

            <p class="card-heading">QUALITY PRODUCTS</p>
            <p class="card-desciption">We garuntee the best deals and quality on every purchase you make.</p>

        </div>
    </div>

</div>